%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: '/'} MOC
  - if user_signed_in?
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = render 'saved_weathers/form'
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.navbar-text
          = 'Signed in as ' + current_user.email
      %li.nav-item
        = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
  - else
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Log in', new_user_session_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
