<!DOCTYPE html>
<html>
  <head>
    <title>Moc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template: 'shared/navbar.html.erb' %>
    <% if notice %>
      <div class="alert alert-info" role="alert" id="alert">
        <p class='notice', align='center'><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert" id="alert">
        <p class='alert', align='center'><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
