!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title Moc
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    - if notice
      #alert.alert.alert-info{role: 'alert'}
        %p.notice{align: 'center'}= notice
    - if alert
      #alert.alert.alert-danger{role: 'alert'}
        %p.alert{align: 'center'}= alert
    = yield
